<section>
  <div class="bg-gray-100 py-8">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="text-center">
        <h2 class="text-4xl font-bold text-gray-500">Why Choose Us</h2>
      </div>
      <div class="mt-10 flex flex-col md:flex-row">
        <div class="md:w-1/2">
          <img
            class="h-48 w-full object-cover md:h-full md:w-96"
            src="https://via.placeholder.com/300x200"
            alt="Team photo"
          />
        </div>
        <div class="md:w-1/2 md:pl-10 mt-4 md:mt-0">
          <p class="text-lg leading-7 text-gray-500">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            euismod, lorem euismod tincidunt bibendum, velit sapien faucibus
            nunc, vel bibendum odio velit vel nisi. Sed euismod, lorem euismod
            tincidunt bibendum, velit sapien faucibus nunc, vel bibendum odio
            velit vel nisi.
          </p>
          <p class="text-lg leading-7 text-gray-500 mt-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            euismod, lorem euismod tincidunt bibendum, velit sapien faucibus
            nunc, vel bibendum odio velit vel nisi. Sed euismod, lorem euismod
            tincidunt bibendum, velit sapien faucibus nunc, vel bibendum odio
            velit vel nisi.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
