<section class="min-h-screen pt-20">
  <!-- hero text -->
  <h1 class="text-5xl font-bold text-slate-500 text-center">
    Find Jobs and Apply right away.
  </h1>
  <p class="mt-2 text-slate-500 text-center">
    Build professional CV and apply to all jobs with us.
  </p>
  <!-- search section -->
  <%- include("./_hero_search_form.ejs") %>
  <!-- CTA -->
  <div class="flex items-center justify-center mt-20">
    <button
      class="bg-gradient-to-r from-green-400 to-green-500 text-white font-bold py-6 px-8 rounded-md"
    >
      Start Applying Now
    </button>
  </div>
</section>
